
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>OmegaNet Tracking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/estilos.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/JqueryFormValidate.js"></script>
    <link href="~/Content/themes/base/FormValidatorTheme.css" rel="stylesheet" type="text/css" />
</head>
<body class="login-page">
    <div class="container">
        <div class="row">
            <div class="col absolute-center is-responsive">
                <div class="IniciarSesion text-center m-2">
                    Iniciar Sesión
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form action="/Generals/Login_authentication" method="post">
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Ingrese su usuario" data-validation="required" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Contraseña</label>
                                <input type="password" name="pass" id="pass" class="form-control" placeholder="Ingrese su contraseña" data-validation="required" />
                            </div>
                            <div class="form-group mt-2">
                                <input type="submit" id="enviar" name="enviar" value="Ingresar" class="btn btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $.validate();
    </script>
</body>
</html>
